body
{
  
    max-width: 350px;
    margin: auto;
    margin-top:80px;
}

h2
{
    text-align: center;
    font-family: 'Squada One', cursive;
}

form
{
    width: 400px;
    padding: 15px 15px;
    border: #c1c1c1 solid 1px;
    
}

#submit
{
    margin:0px auto;
}